/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lobster&family=Pacifico&display=swap");

/* reboot css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    font-size: 0.785rem;
}
.center{
    width: 100vw;
    min-height: 70vh;
    font-family: "Hind Madurai";
    padding:2em;
}
/* login card */
.card1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 1.5em;
    text-align: center;
    background-color: #faf9fe;
    border: solid 3px grey;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}
.card1 .iconDice{
    text-align: center;
    font-size: 3.5em;
    color: #483D8B;
    margin-bottom: 0.25em;
}
.card1 h1 {
    font-family: "Lobster";
    text-align: center;
    color: #483D8B;
}
form{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
label{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:left;
    font-size: 1.5rem;
}
.input2{
    padding: 12px 25px;
    border-radius: 5px,
}
.registeredLog{
    padding: 1em;
    font-size: 1.3rem;
}
.registeredLog p{
    margin-bottom: 1em;
    font-size: 1.3rem;
}
.button button{
    margin-top: 0.5em;
    width: 100%;
    padding: 8px 4px;
    border-radius: 5px;
    background-color: #483D8B;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
}

/* breakpoints */
@media (min-width: 768px) {
    .card1{
        max-width: 50%;
    }
}
@media ( min-width: 992px) {
    .card1{max-width: 45%;}
}
@media ( min-width: 1200px) {
    .card1{max-width: 40%;}
    .link:hover{
        transform: scale(1.4);
        transition:all .2s ease-in-out;
    }
}
