/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');
/* reboot css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    font-size: 0.785rem;
}
.center{
    width: 100vw;
    min-height: 75vh;
    font-family: "Raleway";
    padding:2em;
}
/* login card */
.card1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    padding: 1.5em;
    text-align: center;
    background-color: #faf9fe;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}
.card1 .iconDice{
    text-align: center;
    font-size: 3.5em;
    color: rgb(4, 71, 100);
    margin-bottom: 0.25em;
}
.card1 h1 {
    font-family: "Lobster";
    text-align: center;
    color: rgb(4, 71, 100);
    padding-bottom: .5em;
}
form{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}
.column1{
    display: flex;
    flex-direction: column;
    margin-right: .5em;
}
.column2{
    display: flex;
    flex-direction: column;
    margin-right: .5em
}
label{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:left;
    font-size: 1.5rem;
}
input{
    padding: 12px 25px;
    border-radius: 5px,
}
select{
    text-align: center;
    font-family: "Hind Madurai";
    padding: .25em;
    font-size: 1.5rem;
}

.rules p{
    padding: 1em;
}
.button button{
    margin-top: 0.5em;
    width: 90%;
    padding: 8px 4px;
    border-radius: 5px;
    background-color: rgb(4, 71, 100);
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
}

/* breakpoints */
@media (max-width: 630px){
    .columns{
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .card1{
        max-width: 80%;
    }
    .column1{
        margin-right:.5em;
    }
    .column2{
        margin-left:.5em;
    }
}
@media ( min-width: 992px) {
    .card1{max-width: 65%;}
}
@media ( min-width: 1200px) {
    .card1{max-width: 60%;}
    .link:hover{
        transform: scale(1.4);
        transition:all .2s ease-in-out;
    }
}


