.center{
    width: 100vw;
    min-height: 75vh;
    font-family: "Raleway";
    padding:2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* login card */
.card1{
    min-width: 30%;
    padding: 1.5em;
    text-align: center;
    background-color: var(--back);
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}
.card1 .iconDice{
    text-align: center;
    font-size: 3.5em;
    color: var(--base);
    margin-bottom: 0.25em;
}
.card1 h1 {
    font-family: "Lobster";
    text-align: center;
    color: var(--base);
    padding-bottom: .5em;
}
form{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}
.column1{
    display: flex;
    flex-direction: column;
    margin-right: .5em;
}
.column2{
    display: flex;
    flex-direction: column;
    margin-right: .5em
}
label{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:left;
    /* font-size: 1.8rem; */
}
input{
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.3rem;
}
select{
    text-align: center;
    font-family: "Hind Madurai";
    padding: .25em;
    font-size: 1.5rem;
}

.rules p{
    padding: 1em;
}
.button button{
    margin-top: 0.5em;
    width: 90%;
    padding: 8px 4px;
    border-radius: 5px;
    background-color: var(--base);
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
}

/* breakpoints */
@media (max-width: 681px){
    .columns{
        flex-direction: column;
    }
    .card1{
        max-width:85%
    }
}
@media (min-width: 768px) {
    .card1{
        max-width: 95%;
    }
    .column1{
        margin-right:.5em;
    }
    .column2{
        margin-left:.5em;
    }
}
@media ( min-width: 992px) {
    .card1{max-width: 80%;}
    .button button{
        width: 80%;
    }
}
@media ( min-width: 1200px) {
    .card1{max-width: 70%;}
    .link:hover{
        transform: scale(1.4);
        transition:all .2s ease-in-out;
    }
    .button button {
        width: 90%;
    }
    .button button:hover{
        transform: scale(1.1);
        transition:all .2s ease-in-out;
    }
    @media (min-width:1500px){
        .card1{
            max-width: 60%;
        }
    }
}


