/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');
/* reboot css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}

.container {
  width: 100vw;
  min-height: 75vh;
  font-family: "Raleway";
  padding: 2em;
}
/* login card */
.card1 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  background-color: #faf9fe;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
}
.titleName h1{
  color: darkred;
}
.icons{
  display: flex;
  padding: 1.5em;
  justify-content: space-around;
}
.card1 .iconDice {
  text-align: center;
  font-size: 3.5em;
  color: rgb(4, 71, 100);
}
.modLogo {
  color:rgb(4, 71, 100);
  font-family: "Lobster";
  text-align: center;
}
.modLogo:hover{
  transform: scale(1.3);
  color:rgb(4, 61, 85);
  transition: all ease-in-out .5s;
}
.iconTools{
  font-size: 3.5em;
}
.logo h1 {
  font-family: "Lobster";
  text-align: center;
  color: rgb(4, 71, 100);
}
.photo {
  width: 40%;
  margin: auto;
}
.img {
  width: 10em;
  height: 13em;
  border-radius: 50%;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}
.column1 {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}
.column1 div {
  display: flex;
  padding: 1em;
}
.column1 div i {
  color: #2274a5;
  font-size: 1.8rem;
  padding-right: 0.5em;
}
.column1 div p {
  font-size: 1.5rem;
}
.column2 {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}
.column2 div {
  display: flex;
  padding: 1em;
}
.column2 div i {
  color: #2274a5;
  font-size: 1.8rem;
  padding-right: 0.5em;
}
.column2 div p {
  font-size: 1.5rem;
}
.games {
  width: 75%;
  margin: auto;
  padding-bottom: 2em;
  border-bottom: 1px solid grey;
}
.games i {
  color: #2274a5;
  font-size: 1.8rem;
  padding-bottom: 0.5em;
}
.games p {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkred;
}
.buttons {
  padding: 1.5em;
  display: flex;
  flex-direction: wrap;
}
.buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 40%;
  max-width: 45%;
  margin: .5em;
  padding: 10px 5px;
  border-radius: 6px;
  background-color: rgb(4, 71, 100);
  font-size: 1.2rem;
  font-weight: bold;
}
.linkText{
  text-decoration: none;
  color: white;
}
.linkText1 {
  text-decoration: none;
  color:rgb(4, 71, 100);
}
.linkText1:hover{
  color:rgb(3, 58, 82);
  transition: all ease-in-out .5s;
}

/* .button button{
    margin-top: 0.5em;
    width: 90%;
    padding: 8px 4px;
    border-radius: 5px;
    background-color: #483D8B;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
} */

/* breakpoints */
@media (min-width: 565px) {
  .img {
    height: 20em;
    width: 17em;
  }
}
@media (min-width: 768px) {
  .card1 {
    max-width: 80%;
  }
  .column1 {
    margin-right: 0.5em;
  }
  .column2 {
    margin-left: 0.5em;
  }
  .img {
    height: 21em;
    width: 19em;
  }
}
@media (min-width: 992px) {
  .card1 {
    max-width: 65%;
  }
  .buttons button {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card1 {
    max-width: 60%;
  }
  .link:hover {
    transform: scale(1.4);
    transition: all 0.2s ease-in-out;
  }
}
