.container {
  max-width: 100%;
  margin: 1em;
  font-family: "Raleway";
}
.titles {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: rgb(4, 71, 100);
  background-color: white;
  opacity: 0.8;
  margin: auto;
  margin-top:2em;
  vertical-align: center;
  padding: 1em;
}
/* breakpoints */

/* 565px */
@media (min-width: 565px) {
  .titles {
    font-size: 1.5rem;
  }
  .container {
    padding: 0.5em;
  }
}
/* 768px */
@media (min-width: 768px) {
  .titles {
    font-size: 2rem;
  }
  .container {
    padding: 0.75em;
  }
  @media (min-width: 992px) {
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* 1200px, added hover for mouse clicks */
    @media (min-width: 1200px) {
      /* .container {
        padding: 2em;
      } */
    }
  }
}
