/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lobster&family=Pacifico&display=swap");

/* reboot css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    font-size: 0.785rem;
}
.spinner{
    height: 100vh;
}
.container{
    max-width: 100%;
    padding:.2em;
    font-family: "Hind Madurai";
}
.titles{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding:2em;
    color: #483D8B;
}
table{
    width:100%;
    border:2px solid grey;
    border-radius: 5px;
    border-collapse: collapse;
}
thead th {
    background-color:  #483D8B;
    color:white;
}
th, td{
    text-align: center;
    vertical-align: center;
}
/* td{
    display: flex;
    align-items: center;
    justify-content: center;
} */
tbody tr:nth-child(odd){
    background-color: bisque;
}
tbody tr:nth-child(even){
    background-color: beige;
}

/* breakpoints */

/* 565px */
@media (min-width: 565px){
    .titles{
        font-size: 1.5rem;
    }
    th, td{
        padding: .25em;
        font-size: 1.1rem;
    }
    .container{
        padding:.5em;
    }
}
/* 768px */
@media (min-width: 768px) {
    .titles{
        font-size: 2rem;
    }
    th, td{
        padding: .5em;
        font-size: 1.5rem;
    }
    .container{
        padding: .75em;
    }
    /* 1200px, added hover for mouse clicks */
    @media (min-width: 1200px) {
        th, td{
            padding: .7em;
            font-size: 2rem;
        }
        .container{
            padding: 2em;
        }
    }
  }