.container{
    width: 97%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:1em;
    align-items: center;
    padding: 1.5em;
    font-family: "Raleway";
    opacity: .9;
}
.container div {
    border-top: 1px solid grey;
    border-bottom:1px solid grey;
    background-color: #faf9fe;
    padding:1em;
    margin:auto;
}
.revImg{
    display: block;
    width: 100%;
    height: 25em;
    margin-bottom: 1em;

}
.link{
    text-decoration: None;
    color: darkred;
    font-size: 3.5rem;
}
.container p {
    padding: 1em 0em;
}

/* breakpoints */


/* 395px */

@media (max-width: 390px){
    .revImg {
        height: 18em;
    }
}
/* 768px */

@media (min-width: 768px){
    .revImg{
        height: 35em;
    }
}
/* 992px */
@media (min-width: 992px){
    .container{
        width: 75%;
    }
}
/* 1200px */
@media (min-width:1200px) {
    .container{
        width: 100%;
        padding: 1.5em 3em 1em .5em;
    }
    .container div{
        padding:0.5em;
    }
    .revImg{
        height: 30em;
    }
}