.container{
    width:100%;
    padding:2em 3.5em;
    font-family: "Raleway";
}
.miniTitle{
    font-weight:700;
}
img{
    width: 100%;
    padding: 1em 0em;
}
.textContainer{
    background-color: white;
    border-radius: 5px;
    opacity: .8;
    padding: 1em;
}
.bigAbstract{
    padding:.5em 0em;
    color: var(--red-titles);
}
.resume{
    line-height: 2.5rem;
    font-size: 1.3rem;
}
.bigText{
    line-height: 2.5rem;
    padding: 1em 0em;
    font-size: 1.2rem;
}

/* breakpoints */

@media (min-width: 565px){
    .container{
        width: 80%;
        margin: auto;
    }  
    @media (min-width: 768px){
        .container{
            width: 75%;
        }
    }
    @media (min-width: 992px){
        .container{
            width: 65%;
        }
        @media(min-width: 1200px){
            .container{
                width: 60%;
            }
            .resume{
                font-size: 1.6rem;
            }
            .bigText{
                font-size: 1.5rem;
            }
            .bigAbstract{
                font-size: 3rem;
            }
            @media(min-width: 1450px){
                .container{
                    width: 50%;
                }
                .resume{
                    font-size:1.8rem;
                    line-height: 3rem;
                }
                .bigText{
                    font-size: 1.7rem;
                    line-height: 3rem;
                }
                .bigAbstract{
                    font-size: 3.3rem,
                }
            }
        }
    }
}