.center{
    font-family: "Raleway";
}
.titles{
    display:none;
    background-color: white;
    color: black;
    opacity: .8;
}
.news{
    padding-top:1em;
}

.divTitle{
    width:30%;
    vertical-align: center;
    text-align: center;
    margin-left: 1em;
    background-color: #faf9fe;
    border-radius: 4px;
    opacity: .7;
}
.divTitle h1{
    padding-bottom:.5em;
}
.divReview{
    width:40%;
    text-align: center;
    margin-left: 1em;
    background-color: #faf9fe;
    border-radius: 4px;
    opacity: .7;
}
.divReview h1{
    padding-bottom: .5em;
}
.reviewsTitle{
    margin-top:1em;
}
.center h1{
    width: 95%;
    margin:auto;
    padding-top: .5em;
    font-size: 2.5rem;
    color: var(--base);
}


/* 768px */
@media (min-width: 768px){
    .center h1{
        font-size: 3.5rem;
    }
}
/* 992px */
@media (min-width: 992px){
    .center h1{
        padding-left: 2em;
    }
}
/* 1200px */
@media (min-width:1200px) {
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .news{
        max-width: 60%;
        min-height: 170em;
    }
    .reviews{
        width: 45%;
        min-height: 170em;
    }
    .newsTitle{
        display: none;
    }
    .reviewsTitle{
        display:none;
    }
    .titles {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        padding: 1em;
        color: var(--base);
        margin:2em 0em;
    }
    @media(min-width: 1450px){
        .news{
            max-width: 70%;
        }
        .reviews{
            max-width: 40%;
        }
    }
    @media(min-width:1600px){
        .reviews{
            max-width: 30%;
            margin-left:15em;
        }
        @media(min-width:2500px){
            .reviews{
                max-width: 25%;
                margin-left: 25em;
            }
        }
    }
}