/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}
.center{
    font-family: "Raleway";
}
.titles{
    display:none;
    background-color: white;
    color: black;
    opacity: .8;
}
.news{
    padding-top:1em;
}

.divTitle{
    width:30%;
    vertical-align: center;
    text-align: center;
    margin-left: 1em;
    background-color: #faf9fe;
    border-radius: 4px;
    opacity: .7;
}
.divTitle h1{
    padding-bottom:.5em;
}
.divReview{
    width:40%;
    text-align: center;
    margin-left: 1em;
    background-color: #faf9fe;
    border-radius: 4px;
    opacity: .7;
}
.divReview h1{
    padding-bottom: .5em;
}
.reviewsTitle{
    margin-top:1em;
}
.center h1{
    width: 95%;
    margin:auto;
    padding-top: .5em;
    font-size: 2.5rem;
    color: rgb(4, 71, 100);
}


/* 768px */
@media (min-width: 768px){
    .center h1{
        font-size: 3.5rem;
    }
}
/* 992px */
@media (min-width: 992px){
    .center h1{
        padding-left: 2em;
    }
}
/* 1200px */
@media (min-width:1200px) {
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .news{
        max-width: 65%;
        min-height: 170em;
    }
    .reviews{
        width: 40%;
        min-height: 170em;
    }
    .newsTitle{
        display: none;
    }
    .reviewsTitle{
        display:none;
    }
    .titles {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        padding: 1em;
        color: rgb(4, 71, 100);
        margin:2em 0em;
    }
}