/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap");

/* reboot css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}
.spinner {
  height: 100vh;
}

.container {
  width: 100vw;
  min-height: 75vh;
  font-family: "Raleway";
  padding: 2em;
}
.formInput{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.inputControl{
  border-radius: 5px;
}
.inputButton{
  color: white;
  font-size: 2rem;
  padding: .2em;
  margin-left: .4em;
  background-color: rgb(4, 71, 100);
  border-radius: 5px;
}

.friends {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: center;
  padding: 1em;
  color: rgb(4, 71, 100);
  margin: 2em 0em;
  background-color: white;
  opacity: .8;
}
@media (min-width: 768px) {
  .bigContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .friends {
    font-size: 3rem;
  }
  .container {
    max-width: 60%;
  }

@media (min-width: 992px) {
      .friends {
        font-size: 3.5rem;
      }

      .container {
        max-width: 45%;
      }

      @media (min-width: 1200px) {
        .container {
          max-width: 30%;
        }
      }
    }
  }

