/* login card */
.card1 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  background-color: var(--back);
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
}
.logo {
  padding-top: 1em;
}
.card1 .iconDice {
  text-align: center;
  font-size: 3.5em;
  color: var(--base);
}
.card1 h1 {
  font-family: "Lobster";
  text-align: center;
  color: var(--base);
}
.photo {
  margin: auto;
}
.img {
  width: 10em;
  height: 13em;
  margin:auto;
}
.titleName h1{
  color: var(--red-titles);
}
.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
.column1 {
  display: flex;
  flex-direction: column;
}
.column1 div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.column1 div i {
  color:var(--little-icons);
  font-size: 1.8rem;
  margin-bottom: .5em;
}
.column1 div p {
  font-size: 1.5rem;
}
.column2 {
  display: flex;
  flex-direction: column;
}
.column2 div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.column2 div i {
  color: var(--little-icons);
  font-size: 1.8rem;
  margin-bottom: .5em;
}
.column2 div p {
  font-size: 1.5rem;
}
.games {
  width: 75%;
  margin: auto;
  padding-bottom: 2em;
}
.games i {
  color: var(--little-icons);
  font-size: 1.8rem;
  padding-bottom: 0.5em;
}
.games p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--red-titles);
}
.buttons {
  padding: 1.5em;
  display: flex;
  justify-content: center;
}
.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0.5em;
  padding: 10px 5px;
  border-radius: 6px;
  background-color: var(--base);
  font-size: 1.2rem;
  font-weight: bold;
}
.linkText {
  text-decoration: none;
  color: white;
}

/* breakpoints */
@media (min-width: 565px) {
  .img {
    height: 20em;
    width: 17em;
    margin:auto;
  }
  .columns{
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .card1 {
    max-width: 100%;
    min-height: 60em;
  }
  .column1 {
    margin-right: 0.5em;
  }
  .column2 {
    margin-left: 0.5em;
  }
  .img {
    height: 21em;
    width: 19em;
  }
}
@media (min-width: 992px) {
  .card1 {
    max-width: 100%;
  }
  .columns{
    flex-direction: column;
  }
  .buttons button {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card1 {
    max-width:100%;
    min-height:68em;
  }
  .columns{
    padding:0em;
    flex-direction: column;
  }
}
