/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lobster&family=Pacifico&display=swap");
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #483d8b;
    font-weight: bold;
    font-family: "Lobster";
}
.iconDice{
    font-size: 2rem;
    padding: .2em;
}