@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lobster&family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    font-size: 0.785rem;
}
.containerNav{
    display: flex;
    flex-direction: row;
    background-color: #faf9fe;;
    width: 100%;
    padding: 2em;
    border-bottom: 3px solid grey;
}
.iconDice{
    font-size: 2em;
}
.logoNav{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #483D8B;
    font-weight: bold;
    font-family: 'Lobster';
}
.logoNav p{
    margin-left: 10px;
}
.menuNav{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-left: 1.6em;
    line-height: 2.5em;
    font-weight: bold;
    font-family: 'Hind Madurai';
}
.loginNav{
    display:flex;
    align-items: center;
    font-size: 3em;
    float: right;
    color: #483D8B;
    margin-left: 0.8em;
}