/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}

/* great container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #faf9fe;
  padding: 1em;
  box-shadow: 0 2px 7px 2px rgb(200, 196, 196);
  font-family: "Raleway";
}
.menuNav {
  display:none;
  font-weight: bold;
}
.menuNav a {
  padding: 0.5em;
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
}
.loginNav {
  display: flex;
  font-size: 4rem;
  color: rgb(4, 71, 100);
}
.logos{
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  color: rgb(4, 71, 100);
  text-align: center;
  padding-top: .2em;
}
.logos a {
  text-decoration: none;
  color: rgb(4, 71, 100);
  font-family: "Lobster";
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: .3em;
}
.logos a:hover{
  transform: scale(1.2);
  transition: all ease-in-out .5s;
}
/* these items only is visible under 565px */
.optionalNav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(4, 71, 100);
  padding: 1em;
  border-bottom: 3px solid grey;
  border-top: 3px solid grey;
}
.optionalNav a {
  text-decoration: none;
  color: white;
  padding: .2em;
  font-size: 1.5rem;
  font-weight: bold;
}

/* breakpoints*/

/* 768px */
@media (min-width: 768px) {
  .logoNav {
    font-size: 3rem;
  }
  .loginNav {
    font-size: 5rem;
  }
  .menuNav {
    display: block;
  }
  .menuNav a {
    font-size: 2rem;
  }
  .optionalNav{
    display: none;
  }
  /* 1200px, added hover for mouse clicks */
  @media (min-width: 1200px) {
    .menuNav{
        justify-content: space-around;
    }
    .menuNav a{
      padding: 2em;
    }
    .menuNav a:hover{
        transform: scale(1.3);
        transition: all 0.25s ease;
    }
    .loginNav:hover{
        transform: scale(1.2);
        color: rgb(3, 57, 80);
        transition: all 0.3s ease;
    }
  }
}
