/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');

/* reboot css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}

/* footer css */
footer {
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: #faf9fe;
  width: 100%;
  box-shadow: 0 -2px 7px 2px rgb(200, 196, 196);
}
.container {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
}
.mainFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iconSocial {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: rgb(4, 71, 100);
  font-weight: bold;
  font-family: "Lobster";
  margin-right: 2em;
}
.iconDice {
  font-size: 3rem;
  padding: 0.2em;
}
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.9rem;
  margin-left:2em;
}
.fb {
  color: #4267b2;
  padding-bottom: 0.5em;
}
.insta {
  color: #f56040;
  padding-bottom: 0.5em;
}
.linkedin {
  color: #0e76a8;
  padding-bottom: 0.5em;
}
.credits {
  display: flex;
  justify-content: center;
  font-family: "Hind Madurai";
  margin-bottom: 1em;
  font-size:1.5rem
}
.brush {
  color: rgb(4, 71, 100);
  padding: 0em 0.4em;
}
.personalLink {
  color:rgb(4, 71, 100)
}

/* items that do not appear in some breakpoints */
.personalLink {
  text-decoration: none;
}
.asideFooter {
  display: none;
}
.declaration {
  display: none;
}

/* breakpoints  */

/* 768px */
@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .mainFooter {
    width: 50%;
  }
  .asideFooter {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid grey;
    width: 50%;
    font-size: 1.8em;
  }
  .group1 {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
  }
  .group2 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
  }
  .group1 a {
    text-decoration: none;
    padding: 0.4em;
    color:rgb(4, 71, 100);
  }
  .group2 a {
    text-decoration: none;
    padding: 0.4em;
    color:rgb(4, 71, 100);
  }
}

/* 992px */
@media (min-width: 992px) {
  .brush {
    padding: 0em 0.8em;
  }
  .group1 {
    margin-right: 2em;
  }
  .group2 {
    margin-right: 2em;
  }
}

/* 1200px */
@media (min-width: 1200px) {
  .mainFooter {
    width: 33%;
  }
  .asideFooter {
    width: 33%;
    border-right: 1px solid grey;
  }
  .declaration {
    display: inline-block;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size:1.6rem;
  }
  .declaration h3 {
    color:rgb(4, 71, 100);
  }
  .heartIcon {
    color: red;
    text-align: center;
    padding: 1em;
  }
  .declaration p {
    font-size: 1.5rem;
    text-align: center;
    color:rgb(4, 71, 100);
  }
  /* added some scale transform for icons */
  .socialMedia div:hover {
    transform: scale(1.4);
    transition: all 0.2s ease-in-out;
  }
  .personalLink:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
  .asideFooter a:hover {
    transform: scale(1.4);
    transition: all 0.2s ease-in-out;
  }
}
