.container{
    width: 97%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 1.5em;
    font-family: "Raleway";
    opacity: .9;
}
.container div {
    border-top: 1px solid grey;
    border-bottom:1px solid grey;
    background-color: var(--back);
    padding:1em;
    margin:auto;
}
.newImg{
    display: block;
    width: 100%;
    height: 25em;
    margin-bottom: 1em;

}
.link{
    text-decoration: None;
    color: var(--red-titles);
    font-size: 3.5rem;
    width: 100%;
}
.container p {
    padding: 1em 0em;
    font-size: 1.5rem;
}

/* 395px */

@media (max-width: 390px){
    .newImg {
        height: 18em;
    }
}
/* 768px */

@media (min-width: 768px){
    .newImg{
        height: 35em;
    }
}
/* 992px */
@media (min-width: 992px){
    .container{
        max-width: 75%;
    }
}
/* 1200px */
@media (min-width:1200px) {
    .container{
        max-width: 75%;
    }
    .newImg{
        height: 35em;
    }
    .container {
        padding: 1.5em 0em;
        margin-left: 5em;
    }
}