/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  font-size: 0.785rem;
}

.container{
    width: 97%;
    display:flex;
    margin: auto;
    align-items: center;
    padding: 1.5em;
    font-family: "Raleway";
    opacity: .9;
}
.container div {
    border-top: 1px solid grey;
    border-bottom:1px solid grey;
    background-color: #faf9fe;
    padding:1em;
    margin:auto;
}
.newImg{
    display: block;
    width: 100%;
    height: 25em;
    margin-bottom: 1em;

}
.link{
    text-decoration: None;
    color: rgb(10, 10, 131);
    font-size: 3.5rem;
    width: 100%;
}
.container p {
    padding: 1em 0em;
}

/* 395px */

@media (max-width: 390px){
    .newImg {
        height: 18em;
    }
}
/* 768px */

@media (min-width: 768px){
    .newImg{
        height: 35em;
    }
}
/* 992px */
@media (min-width: 992px){
    .container{
        width: 75%;
    }
}
/* 1200px */
@media (min-width:1200px) {
    .newImg{
        height: 35em;
    }
    .container {
        padding: 1.5em 0em;
        margin-left: 5em;
    }
}