.container {
  width: 100vw;
  min-height: 75vh;
  font-family: "Raleway";
  padding: 2em;
}
.titles {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1em;
  color: var(--base);
  background-color: white;
  opacity: .8;
  margin:2em 0em;
}
@media (min-width: 768px) {
  .bigContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .titles {
    font-size: 3rem;
  }
  .container {
    max-width: 60%;
  }

@media (min-width: 992px) {
      .titles {
        font-size: 3.5rem;
      }

      .container {
        max-width: 45%;
      }

      @media (min-width: 1200px) {
        .container {
          max-width: 30%;
        }
      }
    }
  }

